<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="input-field col c6">-->
<!--      <input type="text" [formControlName]="s" (keyup)="($event)" autocomplete="off">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<form [formGroup]="searchForm" novalidate>
  <div class="form-group">
    <label>Task name</label>
    <br>
    <mat-form-field>
      <input matInput class="form-control" type="text" formControlName="taskName">
    </mat-form-field>
    <div class="alert alert-danger"
         *ngIf="searchForm.controls['taskName'].invalid && searchForm.controls['taskName'].touched">
      Не указано имя задания
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>

        <mat-select formControlName="searchOption">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let t of options">
            {{t}}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group">
    <label>Description</label>
    <br>
    <mat-form-field>
      <input matInput placeholder="Task description" class="form-control" type="text" formControlName="taskDesc">
    </mat-form-field>


    <div class="alert alert-danger"
         *ngIf="searchForm.controls['taskDesc'].invalid && searchForm.controls['taskDesc'].touched">
      Не указано подробное описание
    </div>
  </div>
  <br><br>
  <p>
    Form value: {{ searchForm.value | json }}
  </p>
</form>
